<div class="about-container">
    <h2>About the angular crash course</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni natus iste commodi quia tempore fugiat
        distinctio similique esse, vel eius.
    </p>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur a aperiam quidem, reiciendis dolorum
        alias obcaecati libero sapiente omnis? Fugit fugiat odio perspiciatis officiis quo aliquid vitae fuga omnis
        delectus, quod obcaecati asperiores! Nam ex, consectetur reprehenderit distinctio, repellat quia, esse at
        dolorum incidunt tempora mollitia dignissimos animi. Corporis, blanditiis!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minima illum officia nemo, aliquam beatae
        quibusdam tenetur cumque pariatur aut!
    </p>
</div>