<div class="w-100 row d-flex justify-content-center align-items-center" style="padding: 0 50px 50px; height: 85vh">
    <div class="col-6">
        <span class="rounded-2 text-white bg-normalGreen mb-3 p-1">Shopping with a comfy feeling!😇 </span>
        <p class="fw-bold fs-1 mb-3">The essence of shopping is not just to look good, but to also feel confident</p>
        <p class="fs-5 mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae animi ipsum nemo quam quidem
            temporibus ut. fuga nostrum pariatur facere.
        </p>
        <div class="d-flex justify-content-start align-items-center gap-2">
            <button class="btn bg-black text-white fw-bold">Github profile</button>
            <button class="btn btn-darkGreen text-white fw-bold">Go shopping</button>
        </div>
    </div>
    <div class="col-6">
        <img class="w-75" src="assets/images/store4.png" alt="">
    </div>
</div>